body {
  margin: 0;
  padding:0;
  box-sizing: border-box;
  background-color: rgb(148, 227, 201);
}

.contenedorPrincipal {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}

h1 {
  font-size: 3em;
  font-weight: 600;
}

.contenedorForm{
  width: 50%;
  background-color: rgb(125, 119, 119);
  display: flex;
  justify-content: center;
  margin: 5px 0;
  padding: 10px;
  border-radius: 10px;
}

.contenedorTareas {
  width: 50%;
  background-color: rgb(125, 119, 119);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
  padding: 10px;
  border-radius: 10px;
}

input{
  line-height: 30px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
}

.btn {
  background-color: rgb(147, 15, 142);
  color: #fff;
  cursor: pointer;
  padding: 0 20px;
  border: 1px solid rgb(98, 30, 140);
  border-radius: 10px;
  transition: all 0.5;
  margin-right: 10px;
}

.btn:hover {
  background-color: rgb(147, 15, 142);
  transform: scale(1.1);
}

.btnEditar{
  background-color: rgb(147, 15, 142);
  color:#fff;
  margin-right: 10px;
}

.btnEditar:hover {
  background-color: rgb(147, 15, 142);
  transform: scale(1.1);
}

.btnBorrar {
  background-color: rgb(147, 15, 142);
  color: #fff;
}

.btnBorrar:hover {
  background-color: rgb(147, 15, 142);
  transform: scale(1.1);
}

.contenedorInfoTareas {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contenedorTarea {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
  font-size: 1.3em;
  border-radius: 15px;
  background-color: rgb(218, 177, 225);
  box-shadow: 5px 5px rgba(255,255,255, 0.3);
}

.todoTarea {
  margin-right: 50px;
}

.spanSubrayado {
  text-decoration: line-through;
}




